.form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}
.item-card{
    width:30rem ;
    background-color:rgb(164, 226, 158);
}
.form-content{
    display:flex;
    flex-direction:column;
}

.mytitle{
    text-align: center;
}

.actonbuttton{
    background-color:blueviolet;
    align-items: center;
    color:aliceblue;
    margin-left :200px;
}  